<?xml version="1.0" encoding="UTF-8" ?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!--  <beans:import resource="classpath:/WEB-INF/spring/root-context.xml"/> -->
	<beans:import resource="classpath*:/WEB-INF/spring/root-context.xml" />
	<context:component-scan base-package="com.mmtc.exam" />	
	<debug/>
	<http auto-config="true" use-expressions="true">
		<!--  <intercept-url pattern="/admin**" access="ROLE_USER" /> -->
		<intercept-url pattern="/resources/js/*" access="isAnonymous() or hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_STU')" />		
		<intercept-url pattern="/adduser" access="isAnonymous() or hasAnyRole('ROLE_ADMIN','ROLE_USER')" />		
		<intercept-url pattern="/login" access="isAnonymous() or hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_STU')" />
		<intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />

		<form-login 
		    login-page="/login" 
		    default-target-url="/home" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<session-management>
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
		<!-- enable csrf protection <csrf disabled="false"/>-->
		<csrf/>
	</http>
    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<beans:bean id="jdbcDaoMgr" class="com.mmtc.exam.auth.MMTCJdbcUserDetailsMgr">
		<!-- <beans:property name="dataSource" ref="mmtcMySqlDataSource"/>  -->
	</beans:bean>
	<authentication-manager>
		<authentication-provider user-service-ref="jdbcDaoMgr">
		</authentication-provider>
	</authentication-manager>

</beans:beans>